.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 19px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-container {
    display: flex;
    gap: 2.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem 0.6rem;
}

.row-item {
    outline: 2px solid rgba(0, 0, 0, 0.205);
    cursor: pointer;
    transition: all 0.15s ease-in;
    border-radius: 5px;
  }

.btns button {
    color: white;
    background-color: #373737;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.btns {
    display: flex;
    gap: 0.4rem;
}

.btns button:hover {
    background-color: black;
}